/*============= var ==================== */

$vert: #b5ce00;
$marge: 427px;

/* ========== Nav ================ */

nav{background-color: $vert;
width: 1078px;
margin-left: 427px;
margin-bottom: 30px;


    ul{ display:inline-flex;
       

        li{list-style: none;
        margin-left: 48px;
        
        
        
            a{
                color: #fff;
                text-decoration: none;
                
            }
        }
    }
}

.vote {
    margin-left:$marge;
    background-color: #f2f2f2;
    background-size: 398px;
}
article { margin-left: $marge;
    hr{
        width: 750px;
        margin-bottom: 25px;
        margin-left: -1px;
    }
    .date {
       width: 150px;
       margin-left: 400px;
       margin-top:  -190px;
        
        
    }
    h1,.Android,.tatoos,.bed{
        margin-left: 400px;
    }

    h1 {
        font-family: 'Arial';
        font-size: 25px;
        width: 343px;
    }

    .Android,.tatoos,.bed{
        font-family: 'sans seif';
        width: 375px;
    }

}